body {
  background-color: lightcoral;
}

div {
  height: 200px;
  width: 200px;
  background-color: #cc04aa;
  margin: 20px;
  float: left;
  }



@media screen and (max-width: 767px){
  body {
    background-color: lightgreen;
  }

  div {
    background-color: blue;
  }
}

@media screen and (min-width: 1200px){
  body {
    background-color: lightblue;
  }

  div {
    background-color: orange;
  }

}
